# Fichier d'exemple de configuration - Copie vers .env et remplace par tes valeurs

SUPABASE_URL=https://sfofhghevishnhocfrkc.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNmb2ZoZ2hldmlzaG5ob2NmcmtjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQzNjI4NzcsImV4cCI6MjA5OTkzODg3N30.anJ18SeVrxJDJSE1SMlPp3XdWPKJ1jog8rbc69ElRao
PAYDUNYA_API_KEY=ujRk39QF-O255-J6hq-vyRy-Ty0XSaDBq24o
PAYDUNYA_API_SECRET=test_private_6mqsU5d8hHRmHlLMBJGVaEvvL35
